
.MyHeader {
  background-color: white;
  min-height: 100px;
  color: dodgerblue;

}

#mainNav {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}
.secHeader {
  background-color: dodgerblue;
}


#mainNav a{
  color: white;
  font-weight: bold;
  padding-left: 30px;
}
 #picGrid {
  background: linear-gradient(0deg, rgba(31, 75, 197, 0.3),rgba(31, 75, 197, 0.3)), url('./images/hero_baltimore_inner_harbor.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 300px;
  z-index: -1;
}

.jobCard {
  width: 30%;
  height: 400px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

#searchArea {
    float: left;
    width: 60%;
    height: 400px;
    margin-left: 20px;
    margin-top: 200px;
    text-align: center;
  }

.footerParagraph {
  color: white;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: small;
  justify-content: center;
}

#doctitle{
  color: white;
  padding-left: 60px;
  padding-top: 60px;
}

#newsTitle{
  text-align: center;
  background-color: black;
  color: whitesmoke;
  padding: 15px;
}

#newsList{
  background-color: white;
  color: black;
}

#news{
  margin: 0px;
  padding: 0px;
}


#icon_div{
  margin: 60px 0;
}

a.articleTitleText:hover{
  text-decoration: none;
}

.switch-labels {
    padding-left: 15px;
}

.footer {
  color: white;
  background-color: dodgerblue;
  height: 100px;
  width: 100%;
  float: bottom; 
}

.divCenter {
  justify-content: center;
  text-align: center;
}

