
#mainHeader {
  height: 200px;
  padding: 0;
}

.MyHeader {
  background-color: white;
  min-height: 100px;
  color: dodgerblue;

}

#mainNav {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}


#mainNav a{
  color: white;
  font-weight: bold;
}
 #picGrid {
  background: linear-gradient(0deg,rgba(76, 0, 255, 0.3),rgba(162, 0, 255, 0.3)), url('./images/hero_baltimore_inner_harbor.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 300px;
  z-index: -1;
}

.endFooter {
  background-color: dodgerblue;
  color: black;
  font-weight: bold;
}

#doctitle{
  color: white;
  padding-left: 60px;
  padding-top: 60px;
}

#newsTitle{
  text-align: center;
  background-color: black;
  color: whitesmoke;
  padding: 15px;
}

#newsList{
  background-color: white;
  color: black;
}

#news{
  margin: 0px;
  padding: 0px;
}


#icon_div{
  margin: 60px 0;
}

a.articleTitleText:hover{
  text-decoration: none;
}


